<div class="content_block">
    <h2>
        Ошибка 404 - Страница не найдена</h2>
    <div class="err404">
        <img src="/Content/client/i/404.gif" />
        <div class="descr">
            Страница с таким адресом не найдена.<br />
            Воспользуйтесь меню или поиском для навигации по сайту.
        </div>
    </div>
</div>
