@model CountersBlockModel 
<div class="cloud">
    <h4>Спринтер сегодня</h4>
    <div class="sprinter_number" arg="@Model.GoodsCount">
        <p>
            &#8211; Товаров
        </p>
    </div>
    <div class="sprinter_number" arg="@Model.OrdersCount">
        <p>
            &#8211; Заказов
        </p>
    </div>
</div>
