<ul class="menu_line" id="switcher_lower" style="display: none" savename="switcher_on_main_lower">
    <li class="ml_link"><a class="ml_link" num="0" href="@Url.Action("BooksBlockLower", new { type = 1 })">
        Учебники</a></li>
    <li class="ml_link"><a class="ml_link" num="1" href="@Url.Action("BooksBlockLower", new { type = 2 })">
        Развивающие игрушки</a></li>
    <li class="ml_link"><a class="ml_link" num="2" href="@Url.Action("BooksBlockLower", new { type = 3 })">
        Спортивные товары</a></li>
    <li class="ml_link"><a class="ml_link" num="3" href="@Url.Action("BooksBlockLower", new { type = 4 })">
        Программное обеспечение</a></li>
</ul>
<div class="item">
    <div id="ajax-content" savename="switcher_on_main_lower">
    </div>
</div>
