@model OrderDeliveryZone
@{
    ViewBag.Title = "Удаление тарифного плана";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Удаление тарифного плана @Model.Name</h2>


<fieldset>
    @using (Html.BeginForm())
    {
        <h3>Вы уверены, что хотите удалить тарифный план @Model.Name?</h3>
        <br />
        <br />
        <input type="submit" value="Удалить" />

    }
</fieldset>
<div class="backref">
    @Html.ActionLinkQuery("Назад к списку", "ZoneList", "Delivery")
</div>
